.button {
  min-width: 120px;
  padding: 0px 14px;
  color: var(--color-white);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  cursor: pointer;
  height: 36px;
  font-size: 15px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  transition-property: background-color transform;
  transition-duration: 0.1s;
  transition-timing-function: ease-in;

  &:focus-visible:not(:disabled) {
    outline-offset: 2px;
    outline-width: 2px;
  }

  &:active:not(:disabled) {
    transform: scale(0.98);
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  &--full-width {
    min-width: 100%;
  }

  &--primary {
    background-color: var(--color-blue-1);

    &:hover:not(:disabled) {
      background-color: var(--color-blue-2);
    }

    &:focus-visible:not(:disabled) {
      outline-color: var(--color-blue-0);
    }
  }

  &--teal {
    background-color: var(--color-teal-1);

    &:hover:not(:disabled) {
      background-color: var(--color-teal-2);
    }

    &:focus-visible:not(:disabled) {
      outline-color: var(--color-teal-0);
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
