.button {
  min-width: 120px;
  padding: 0px 14px;
  background-color: hsl(204, 84%, 33%);
  color: hsl(0, 0%, 100%);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  cursor: pointer;
  height: 30px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  border: none;
  border-radius: 2px;
  outline-offset: 2px;
  outline-color: hsl(204, 100%, 42%);
  outline-width: 1px;
  transition-property: background-color transform;
  transition-duration: 0.1s;
  transition-timing-function: ease-in;

  &--full-width {
    min-width: 100%;
  }

  &:hover:not(:disabled) {
    background-color: hsl(204, 83%, 40%);
  }

  &:focus-visible:not(:disabled) {
    outline: 1px solid hsl(204, 100%, 42%);
  }

  &:active:not(:disabled) {
    transform: scale(0.98);
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
