.code-mirror-wrapper {
  --font-family: 'JetBrains Mono', monospace;
}

.code-mirror-wrapper :global .cm-editor {
  font-size: 16px;
  padding: 12px;
}

.code-mirror-wrapper :global .cm-content {
  font-family: var(--font-family);
}

.code-mirror-wrapper :global .cm-gutters {
  font-family: var(--font-family);
}
