.overlay {
  position: fixed;
  inset: 0;
  background-color: hsla(0, 0%, 0%, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 999;
  animation: appearanceIn 0.1s ease-in;
}

.modal {
  padding: 24px;
  width: 90%;
  background-color: var(--color-dark-5);
  border: 1px solid var(--color-border);
  border-radius: 8px;
  animation: appearanceIn 0.1s ease-in;

  @media screen and (min-width: 960px) {
    width: 70%;
    max-width: 720px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--color-border);
  }

  &__title {
    font-size: 18px;
    color: var(--color-white);
    font-weight: 700;
  }

  &__close {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 24px;
    height: 24px;
    padding: 4px;
    color: var(--color-text);
    border: none;
    background-color: transparent;
    border-radius: 50%;
    transition: background-color 0.1s ease-in;

    &:hover {
      background-color: var(--color-dark-3);
    }

    &:focus-visible:not(:disabled) {
      outline-color: var(--color-blue-0);
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }
}

@keyframes appearanceIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  60% {
    opacity: 0.75;
    transform: scale(1.02);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
