.overlay {
  position: fixed;
  inset: 0;
  background-color: hsla(0, 0%, 0%, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 999;
  animation: appearanceIn 0.1s ease-in;
}

.modal {
  padding: 24px;
  width: 90%;
  background-color: hsl(0, 0%, 10%);
  border: 1px solid hsla(0, 0%, 33%, 0.48);
  border-radius: 8px;
  animation: appearanceIn 0.2s ease-in;

  @media screen and (min-width: 960px) {
    width: 70%;
    max-width: 720px;
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }
}

@keyframes appearanceIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  60% {
    opacity: 0.75;
    transform: scale(1.02);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
