.tabs {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--color-dark-4);
  border-bottom: 2px solid var(--color-border);
}

.tab {
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  cursor: pointer;
  color: var(--color-white);
  border: none;
  height: 40px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  background-color: var(--color-dark-1);
  transition: background-color 0.1s ease;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: var(--color-dark-0);
  }

  &--active {
    background-color: var(--color-dark-2);
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
