:root {
  --color-text: hsl(0, 0%, 80%);
  --color-border: hsl(0, 0%, 15%);
  --color-black: hsl(0, 0%, 0%);
  --color-white: hsl(0, 0%, 100%);

  --color-blue-0: hsl(212, 100%, 60%);
  --color-blue-1: hsl(212, 100%, 50%);
  --color-blue-2: hsl(212, 100%, 40%);

  --color-teal-0: hsl(162, 88%, 40%);
  --color-teal-1: hsl(162, 88%, 30%);
  --color-teal-2: hsl(162, 88%, 20%);

  --color-red-0: hsl(0, 74%, 64%);
  --color-red-1: hsl(0, 74%, 54%);
  --color-red-2: hsl(0, 74%, 44%);

  --color-dark-0: hsl(0, 0%, 31%);
  --color-dark-1: hsl(0, 0%, 20%);
  --color-dark-2: hsl(0, 0%, 14%);
  --color-dark-3: hsl(0, 0%, 14%);
  --color-dark-4: hsl(0, 0%, 11%);
  --color-dark-5: hsl(0, 0%, 7%);
}
